.active_container {
  display: initial !important;
  padding: 40%;
  transition: all 0.3s ease-in-out;
}
.disable_container {
  display: none !important;
}

.container_score {
  position: fixed;
  border-radius: 10px;
  left: 0;
  right: 0;
  background-color: #18191bda !important;
  width: 50% !important;
  color: #282c34 !important;
  height: 60% !important;
  margin: 0 auto;
  padding: 2%;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.514); /* Ajoute une ombre portée */
   overflow-y: auto;
  max-height: 400px;
}

.container_score::-webkit-scrollbar {
  background-color: transparent;
}


.container_score::-webkit-scrollbar-thumb {
  background-color: #eaebee63;
  border-radius: 20px;
}



.container_score ~ * {
  filter: blur(5px) !important;
}

.underline {
  text-decoration: underline;
}

.container_score {
  margin-top: 20px;
}

.table-transparent {
    /* display: grid; 
  place-items: center; */
  width: 100%;
  background-color: transparent !important;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
  /* border: 1px solid white; */
  margin-top: 45px;
}
.table-transparent > *
{
  padding: 500px;

}

